%ul.button-group
  %li
    = link_to 'Home', root_path, class: "button"
  %li
    = link_to 'About Us', page_path('about'), class: "button"
  %li
    = link_to 'Services', page_path('services'), class: "button"
  %li
    = link_to 'Documents', page_path('document'), class: "button"
  %li
    = link_to 'Tracking', page_path('tracking'), class: "button"
  %li
    = link_to 'Our Clients', page_path('clients'), class: "button"
  %li
    = link_to 'Careers', page_path('careers'), class: "button"
  %li
    = link_to 'Feedback', page_path('feedback'), class: "button"