.columns.large-12
  .panel
    %h4
      Important Documents
      %hr
    
    %h5.subheader
      .columns.large-10.large-centered
        %table
          %thead
          %tbody
            %tr
              %td= link_to 'Annexure-C1-for-EOU', '/pdf/Annexure-C1-for-EOU.pdf'
              %td= link_to 'Annexure-D-for-DEPB', '/pdf/Annexure-D-for-DEPB.pdf'
            %tr
              %td= link_to 'Annexure-II-for-Drawback', '/pdf/Annexure-II-for-Drawback.pdf'
              %td= link_to 'Appendix-III-for-Drawback', '/pdf/Appendix-III-for-Drawback.pdf'
            %tr
              %td= link_to 'Appendix-IV-for-Drawback', '/pdf/Appendix-IV-for-Drawback.pdf'
              %td= link_to 'Commercial_Invoice', '/pdf/Commercial_Invoice.pdf'
            %tr
              %td= link_to 'GR-Waiver-Form-(for-Free-Trade-Sample)', '/pdf/GR-Waiver-Form-(for-Free-Trade-Sample).pdf'
              %td= link_to 'GR-Waiver-Form-(for-Repair-_-Return)', '/pdf/GR-Waiver-Form-(for-Repair-_-Return).pdf'
            %tr
              %td= link_to 'MSDS', '/pdf/MSDS.pdf'
              %td= link_to 'Multiple-Country-Declaration', '/pdf/Multiple-Country-Declaration.pdf'
            %tr
              %td= link_to 'Negative-Declaration', '/pdf/Negative-Declaration.pdf'
              %td= link_to 'Non-DG-Declaration', '/pdf/Non-DG-Declaration.pdf'
            %tr
              %td= link_to 'Packing-List', '/pdf/Packing-List.pdf'
              %td= link_to 'Quota-Charge-Statement', '/pdf/Quota-Charge-Statement.pdf'
            %tr
              %td= link_to 'Shippers-Letter-of-Instructions', '/pdf/Shippers-Letter-of-Instructions.pdf'
              %td= link_to 'Single-Country-Declaration', '/pdf/Single-Country-Declaration.pdf'
            %tr
              %td= link_to 'TSCA-Certificate', '/pdf/TSCA-Certificate.pdf'