.columns.large-12
  .columns.large-4.push-4
    .panel
      %h5
        = simple_form_for @shipment do |f|
          = f.input :tracking_id, label: false, placeholder: 'Enter Tracking Code'
          = f.button :submit, 'Track', class: 'small button'

  .columns.large-12
    .panel
      %h4
        Retrieved Shipments 
        %hr
      
      .columns.large-12.large-centered
        %table
          %thead
            %tr
              %th Tracking Id
              %th Booking Date
              %th Source
              %th Delivery Date
              %th Destination
              %th Remarks
          %tbody
            - if @retrieved_shipment
              %tr
                %td= @retrieved_shipment.tracking_id
                %td= @retrieved_shipment.booking_date.strftime("%d/%m/%Y")
                %td= "#{@retrieved_shipment.sender.locality}, #{@retrieved_shipment.sender.city}, #{@retrieved_shipment.sender.state}"
                %td= @retrieved_shipment.delivery_date.strftime("%d/%m/%Y")
                %td= "#{@retrieved_shipment.reciever.locality}, #{@retrieved_shipment.reciever.city}, #{@retrieved_shipment.reciever.state}"
                %td= @retrieved_shipment.remark
        - unless @retrieved_shipment 
          No shipments Found