.columns.large-12
  .columns.large-4.push-4
    .panel
      %h5
        = simple_form_for @shipment do |f|
          = f.input :tracking_id, label: false, placeholder: 'Enter Tracking Code'
          = f.button :submit, 'Track', class: 'small button'

  .columns.large-12
    .panel
      %h4
        Retrieved Shipments 
        %hr
      
      .columns.large-12.large-centered
        %table
          %thead
            %tr
              %th Tracking Id
              %th Booking Date
              %th Source
              %th Delivery Date
              %th Destination
              %th Remarks
          %tbody
            - if @retrieved_shipment
              %tr
                %td= @retrieved_shipment.tracking_id
                %td= date_display(@retrieved_shipment.booking_date)
                %td= place_display(@retrieved_shipment.sender)
                %td= date_display(@retrieved_shipment.delivery_date)
                %td= place_display(@retrieved_shipment.reciever)
                %td= @retrieved_shipment.remark