!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/[if IE 9 ] <html class="ie9" lang="en">
/ [if (gt IE 9)|!(IE)]><!
%html{lang: "en"}
  / <![endif]
  %head
    %meta{charset: "utf-8"}/
    / Uncomment to make IE8 render like IE7
    / <meta http-equiv="X-UA-Compatible" content="IE=7" />
    / Set the viewport width to device width for mobile
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "SGS Express"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags
  %body
    .row.header
      .columns.large-12.logo-header.no_padding{style: "height: 200px;"}
        .columns.large-3.no_padding
          = image_tag "sgs-logo1.png", width: 180
        .columns.large-9.no_padding
          = image_tag "sgs-logo2.png"
      .columns.large-12.menu.no_padding
        = render 'shared/nav_bar'
    .row.header
      .columns.large-12.no_padding
        %ul.example-orbit{"data-orbit" => "", style: "height: 300px;"}
          %li
            = image_tag "slides/slide1.jpg"
            .orbit-caption Slide 1.
          %li
            = image_tag "slides/slide2.jpg"
            .orbit-caption Slide 2.
          %li
            = image_tag "slides/slide3.jpg"
            .orbit-caption Slide 3.
          %li
            = image_tag "slides/slide4.jpg"
            .orbit-caption Slide 4.
    .row.main_content
      .columns.large-12{style: "height: 20px;"}
      .columns.large-12
        = yield
    %footer.row
      .columns.large-12.content.no_padding.footer
        .columns.large-6.large-centered
          %p Copyright © 2013 All rights reserved SGS Express.
        %br
        .columns.large-3.right{ style: 'margin-top: -30px;' }
          %p
            %span
              %a{href: "http://www.nexgenconcepts.in", target: "_blank"} Powered by nexgenconcepts
    
    = javascript_include_tag "application"